.Top {
  align-items: center;
  justify-content: center;
  display: flex;
}

.list-wrapper {
  padding: 100px;
  display: flex;
  gap: 12px;
}

.component-style {
  width: 200px;
  height: 200px;
  border: 1px solid green;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}
